<!DOCTYPE HTML>
<html lang="ru">

  <head>
    <!-- Стили -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">

    <!-- Скрипты -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/public/js/front.js"></script>

    <!-- Шрифты -->
    <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
    
    <!-- Настройка вкладки -->
    <meta charset="utf-8" />
    <title>BrainFuck Studio 2019 - new.bf</title>
    <link rel="shortcut icon" href="/public/brain.png" type="image/x-icon">
  </head>

  <body>

    <header>
      <div class="row">
        <div class="col-sm">
          <h2 class="app-name">BrainFuck Studio 2019
            <small> - <abbr id="file-name" data-toggle="tooltip" data-placement="top" title="Имя файла">new.bf</abbr></small>
          </h2>
          <div class="">

            <div class="main-menu">
              <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                  <button type="button" class="btn btn-simple menu-btn" id="menu-file" >
                    Файл
                  </button>
                  <div class="dropdown-menu" aria-labelledby="menu-file">
                    <input id="create-file" class="btn btn-simple menu-btn second-menu" type="submit" value="Создать" />
                    <input id="open-file" class="btn btn-simple menu-btn second-menu" type="submit" value="Открыть" />
                    <input id="rename-file" class="btn btn-simple menu-btn second-menu" type="submit" value="Переименовать" />
                    <input id="save-file" class="btn btn-simple menu-btn second-menu" type="submit" value="Сохранить" />
                    <input id="open-server-file" class="btn btn-simple menu-btn second-menu" type="submit" value="Открыть (сервер)" />
                    <input id="save-server-file" class="btn btn-simple menu-btn second-menu" type="submit" value="Сохранить (сервер)" />
                    <input id="delete-server-file" class="btn btn-simple menu-btn second-menu" type="submit" value="Удалить (сервер)" />
                    <input id="close-file" class="btn btn-simple menu-btn second-menu" type="submit" value="Закрыть" />
                  </div>
                </div>

                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                  <button type="button" class="btn btn-simple menu-btn" id="menu-edit" >
                    Вид
                  </button>
                  <div class="dropdown-menu" aria-labelledby="menu-file">
                    <input id="output-show-button" class="btn btn-simple menu-btn second-menu" type="submit" value="Показать вывод" />
                    <input id="output-close-button" class="btn btn-simple menu-btn second-menu disabled" type="submit" disabled value="Скрыть вывод" />
                    <input id="output-clear-button" class="btn btn-simple menu-btn second-menu disabled" type="submit" disabled value="Очистить вывод" />
                  </div>
                </div>

                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                  <button type="button" class="btn btn-simple menu-btn" id="menu-run" aria-haspopup="true" >
                    Запуск
                  </button>
                  <div class="dropdown-menu" aria-labelledby="menu-run">
                    <input id="run-button" class="btn btn-simple menu-btn second-menu" type="submit" value="Запуск" />
                    <input id="run-debug-button" class="btn btn-simple menu-btn second-menu" type="submit" value="Отладка" />
                    <input id="run-onebug-button" class="btn btn-simple menu-btn second-menu" type="submit" value="Пошаговая" />
                  </div>
                </div>
                <input id="about-button" class="btn btn-simple menu-btn" type="submit" value="О программе" />
              </div>
            </div>

            <div class="main-menu">
              <input type="image" src="/public/images/create.png" class="image-button" id="create-file" />
              <input type="image" src="/public/images/open.png" class="image-button" id="open-server-file" />
              <input type="image" src="/public/images/save.png" class="image-button" id="save-server-file" />
              <input type="image" src="/public/images/delete.png" class="image-button" id="delete-server-file" /> 
              <input type="image" src="/public/images/line.png" class="image-button disabled" disabled="true" /> 

              <input type="image" src="/public/images/upload.png" class="image-button" id="open-file" />
              <input type="image" src="/public/images/download.png" class="image-button" id="save-file" /> 
              <input type="image" src="/public/images/line.png" class="image-button disabled" disabled="true" /> 

              <input type="image" src="/public/images/show.png" class="image-button" id="output-show-button" /> 
              <input type="image" src="/public/images/line.png" class="image-button disabled" disabled="true" /> 


              <input type="image" src="/public/images/run.png" class="image-button" id="run-button" />
              <input type="image" src="/public/images/debug.png" class="image-button" id="run-debug-button" />
              <input type="image" src="/public/images/onebug.png" class="image-button" id="run-onebug-button" /> 
              <input type="image" src="/public/images/line.png" class="image-button disabled" disabled="true" /> 

              <input type="image" src="/public/images/help.png" class="image-button" id="about-button" /> 
              <input type="image" src="/public/images/line.png" class="image-button disabled" disabled="true" /> 


            </div>
            <div>
              <form action="/readFile" id="my-form" method="post" enctype="multipart/form-data">
                <input id="open-file-input" name="this-file" type="file" value="" />
              </form>
              <a id="download-file" download="" href=""></a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="main-space first-space">
        <div id="work-space" class="form-control" contentEditable="true">+>++>!</div>
      </div>
      <div class="output">
        <div class="main-space">
          <textarea id="output-space" class="form-control" onkeydown="return false"></textarea>
          <input id="output-close-button" type="image" src="/public/images/hide.png" class="image-button left-button" />
          <input id="output-clear-button" type="image" src="/public/images/clear.png" class="image-button left-button disabled" disabled="true" /> 
        </div>
      </div>
    </main>

    <% for(item of items) { %>
      <%- include('modal', {item} ); %>
    <% } %>


  </body>

</html>