body {
	background: #282923;
	overflow-x: hidden;
}

header {
	top: 1%;
    position: absolute;
    width: 100%;
    height: 15%;
}

textarea {
    resize: none; 
} 

form, #download-file, #hex-editor{
	display: none;
}

td, th {
	padding-top: 5px;
	padding-bottom: 50px;
}

table {
	vertical-align: middle; 
	width: 90%;
    border: 1px solid black;
    margin: auto;
}

@media screen and (max-width: 650px) {
	.btn-group {
		display: inline-block;
	}

	.left-button {
		width: 100% !important;
		margin-top: 10px !important;

	}

	#output-space {
		width: 100%;
	}

	.modal-footer button {
		width: 100% !important;
		text-align: center;
	}
}

#work-space {
	width: 99%;
    margin: auto 0.5%;
    height: 100%;
    font-size: 35px;
    overflow: auto;
    background-color: #e0dbdb;
}

#output-space {
    margin: auto 1% auto 0.5% ;
    background-color: #e0dbdb;
	width: 94%;
	height: 110px;
    overflow: auto;
    float: left;
	font-family: 'Germania One', cursive;
    font-size: 20px;
}


.disabled:hover {
	color: black !important;
	box-shadow: none !important; 
}

.disabled {
    opacity: 0.2;
}

.app-name {
	color: #e0dbdb;
	margin: 0px;
	padding: 0px 0px 5px 15px;
	border-bottom: 1px solid #938f8f;
	border-radius: 10px;
	font-family: 'Germania One', cursive;
}

.btn {
	color: #e0dbdb;
	background: #42433e;
	width: 95%;
	text-align: left;
	border: 1px solid #938f8f;
	margin: 0px 3px 1% 0px;
	border-radius: 5px;
}

.dropdown-menu {
	background: #e6e6e6;
	border: 1px solid #938f8f;
	padding: 5px;
	border-radius: 5px;
	width: 240px;
}

.dropdown-menu .btn {
	color: black;
}

.main-menu .btn-group {
	margin-left: 0.3%;
}

.menu-btn {
	margin-bottom: 0px !important;
	background-color: rgba(0,0,0,0);
	border: 0px;
}

.btn:focus {
	border-radius: 5px;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(179, 179, 179, 0.6);
}

.menu-btn:hover {
	color: rgba(0,0,0,0.4);
	background-color: rgba(230,230,230,0.2);
}

.dropdown-item {
	color: #e0dbdb;
}

.main-menu {
	width: 100%;
	border-top: 1px solid #938f8f;
	border-bottom: 1px solid #938f8f;
	border-top: 1px solid #938f8f;
	border-radius: 5px;
}

.main-space {
	top: 21%;
    position: absolute;
    width: 100%;
    height: 75%;
	border-top: 1px solid #938f8f;
	border-bottom: 1px solid #938f8f;
	border-radius: 8px;
	padding: 10px 0px;
	margin-bottom: 10px
}

.modal-header {
	background-color: #282923;
	color: #938f8f;
}

.modal-content {
	background-color: #e0dbdb;
	border-radius: 15px;
}

.modal-footer button:hover{
	color: rgba(0,0,0,0.6);
	background-color: #8a8a8a;
	box-shadow: inset 0px 0px 0px #585858, 0 0 8px #000000;
	border: 1px solid #595959;
}

.modal-footer button {
	width: 30%;
	text-align: center;
}

.warning {
	color: #ff8c00;
}

.primary {
	color: #0000ff;
}

.danger {
	color: #cc0605;
}

.success {
	color: #00ff00;
}

.simple {
	color: #7d7f7d;
}

#table-responsive {
	margin: auto 0;
	padding: auto;
}

.output {
	top: 72%;
    position: absolute;
    width: 100%;
    height: 20%;
	display: none;
}

.output * {
    width: 100%;
}

.output .main-space {
    height: 100%;
}

.image-button {
	border-radius: 8px;
	margin-top: 5px;
	margin-left: 3px;
	height: 36px;
}

.image-button:hover {
    box-shadow: 0px 0px 15px rgba(230,230,230, 0.5), inset 0px 0px 10px rgba(230,230,230,0.5); 
}




.left-button {
	width: 38px !important;
	padding: auto !important;
	text-align: center !important;
}